$fa-font-path: '~font-awesome/fonts'; 
@import '~font-awesome/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');


$white : white;
$color-navbar : #f4f7fa;
$color-navbar-border : #e4e7e9;
$color-sidenav :#282c37;
$color-sidebar :#313541;
$color-sidebar-hover :#72cdd2;
$color-sidebar-icon :#8298a0;
$color-sidebar-icon-hover :#fff;
$color-judul : #282c37;

$color-text-default : #647d80;
$color-border : #242832;
$color-button-hover : #1c1f27;
$color-button-text-hover : #92D72E;

//MIXIN BOX SHADOW SUPPORT ALL BROWSER
@mixin box-shadow($x, $y, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $x $y $blur $color;
      -moz-box-shadow:inset $x $y $blur $color;
      box-shadow:inset $x $y $blur $color;
    } @else {
      -webkit-box-shadow: $x $y $blur $color;
      -moz-box-shadow: $x $y $blur $color;
      box-shadow: $x $y $blur $color;
    }
  }
  html{
    font-family: 'Roboto', sans-serif;

  }
  
.navbar {
    height: 127px;
    background: $color-navbar;
    border: solid 1px $color-navbar-border;
}
button {
    &:focus{
        outline-color: $color-sidenav;
    }
}