@import 'custom';
@import 'clear';
$assetsPath: '../' !default;


body {
    background-color: pink;
    //background: url(../images/bg.jpg) center center no-repeat;

}
h1 {
    color : green;
    font-size: 10rem
}
#Judul {
    margin-left: 200px;
    transition: 0.5s ;
    font-size: 24px;
    font-weight: bold;
    color: $color-judul;
    
}
.nav {
    & p {
        font: 24px;
    }
}
.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-sidebar;
    overflow-x: hidden;
    text-align: center;
    a {
        height: 127px;
        padding-top: 26px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        & div:first-child {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background: $color-sidebar-icon;
        }
        & div:nth-child(2) {
            color: $color-sidebar-icon;
        }
        &:hover {
            background: $color-sidebar-hover;
            color: $color-sidebar-icon-hover;
            & div:first-child {
                background-color: white;    

            }
        }
        &:active {
            background: $color-sidebar-hover;
        }
      }
  }
  //ACTIVE CLASS
  .active {
    background: $color-sidebar-hover;
    color: $color-sidebar-icon-hover !important;
    & div:first-child {
        background-color: white !important;    
    }
    & div:nth-child(2) {
        color: $white !important;
    }
  }
//ICON SIDEBAR
#Browse {
-webkit-mask-box-image : url($assetsPath + '/images/Browse.png');

}
#Attraction {
-webkit-mask-box-image : url('./../images/Attraction.png');
}
#Video {
-webkit-mask-box-image : url('./../images/Video.png');
}
#Blog {
-webkit-mask-box-image : url('./../images/Blog.png');
}
#About {
-webkit-mask-box-image : url('./../images/About.png');
}

  .sidenav {
    height: 100%;
    overflow: hidden;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 150px;
    background-color: $color-sidenav;
    overflow-x: hidden;
    transition: 0.5s ;

    @include box-shadow(10px, 0px, 25px,  rgba(0,0,0,0.2));
    a {

       // padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover {
            color: #f1f1f1;
        }
    }
    ul {
        padding: 0;
    }
}
//SIDENAV
#Sidenav{
    &-filter {
        height: 127px;

        border-bottom: solid 1px $color-border;
        padding-left: 25px;
        padding-top: 40px;
    }
}
.sidenav-container {
    padding-left: 25px;
    padding-top: 10px;

    min-height: 60px;
    border-bottom: solid 1px $color-border;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 600ms, visibility 600ms;

}

.sidenav-button {

    padding: 8px 0 0 35px;
    height: 41px;
    width: 301px;
    text-align: left;
    border: none;
    font-size: 16px;
    background: $color-sidenav;
    color: $color-text-default;
    cursor: pointer;
    & i {
        color: $color-text-default;
        font-size: 20px;
        float: right;
        padding-right: 18px;
    }
    &:hover {
        border: solid 1px $color-border;

        background : $color-button-hover;
        color : $color-button-text-hover;
        i {
            color : $color-button-text-hover
        }
    }
    

}
.sidenav-active {
    background : $color-button-hover;
    color : $color-button-text-hover;
    i {
        color : $color-button-text-hover
    }
}



//DROPDOWN

.dropdown-container {
    font-family: 'Roboto', sans-serif;
    display: none;
    //padding: 10px 0px 20px 80px;
    text-align: left;
    font-size: 16px;
    padding-top: 21px;

    & a {
        margin-left: 80px;
        margin-bottom: 21px;
        font-size: 16px;
        font-weight: normal!important;
        color: $color-text-default!important;
    }

}

//MAIN CONTAINER
#main-container {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 150px;
}

//SIDEINFO
#Sideinfo {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 127px;
    right: 0;
    background: #313541;
    overflow-x: hidden;
    transition: 0.5s;
}
#Info-judul-container {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #72cdd2;
}
.close-button {

}
#Navbar-tools{
    position: absolute;
    float: right;
    right: 0;
    margin-right: 55px;
    text-align: center;
    cursor: pointer;
    & .fa {
        margin-left: 21px;
        font-size: 31px;
        width: 31px;
        height: 31px;
    }
}

.map {
    width: 1770px; 
}
.mapouter {
    text-align:right;
    height:1080px;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:1080px;
    width:100%;
}
        

#googleMap {
    width: 100%;
    height: 953-96px;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
  }

/*style the arrow*/
.gm-style div div div div div div img {
    display: none;
}
.gm-style div div div div div div div {
    background: rgba(255, 255, 255,0) !important;
    box-shadow: none !important;
    float: left;
}
.gm-style div div div div div div div div {//masih belum dapet
    background: rgba(255, 255, 255,0) !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px !important;
}

/* Just use .gm-style-iw */ 
.gm-style-iw {
    float: left;
    min-height: 30px;
  }
.gm-style .gm-style-iw {
    margin: 71px 0 0 76px;
    font-size: 12px;
    width: 120px !important;
    height: 30px;

    padding-left: 20px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    background-color: $color-sidenav;
    border-radius: 25px 0px 0px 25px; // apply 10px to the bottom corners of the infowindow
 }
 #Info-desc {
     color: white;
     padding: 25px 0 0 35px;
 }
 #Info-judul {
     color: white;
     margin: 0 0 0 35px;
     padding-top: 15px;
     font-size: 16px;
 }
 #Info{
     &-address {
        color: white;
        margin: 0 0 0 35px;
        padding-top: 15px;
        font-size: 16px;
    }
    &-web {
        color: white;
        margin: 0 0 0 35px;
        padding-top: 15px;
        font-size: 16px;
    }
    &-marker {
        color: white;
        margin: 0 0 0 35px;
        padding-top: 15px;
        font-size: 16px;
        font-size: 600px;
     }
 }
 
