<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light ">
        <div class="nav navbar-nav">
            <p id="Judul">TOP RATED TOURIST ATTRACTIONS IN SINGAPORE</p>
        </div>
        <div class="" id="Navbar-tools">
            <i class="fa fa-gear"></i>
            <i class="fa fa-info-circle"></i>
            <i class="fa fa-times-circle close-button"></i>
        </div>
    </nav>
    <aside class="sidebar">
        <a class="sidebar-div ">
            <div id="Browse"></div>
            <div>Browse</div>
        </a>
        <a class="sidebar-div">
            <div id="Attraction"></div>
            <div>Attraction</div>
        </a>
        <a class="sidebar-div">
            <div id="Video"></div>
            <div>Video</div>
        </a>
        <a class="sidebar-div">
            <div id="Blog"></div>
            <div>Blog</div>
        </a>
        <a class="sidebar-div" href="#">
            <div id="About"></div>
            <div>About</div>
        </a>
    </aside>

    <aside id="Sidenav" class="sidenav">
        <div id="Sidenav-filter">
                <a href="#" >
                    <button class="sidenav-button">
                Filter by Favorit
                <i class="fa fa-caret-down"></i>
                </a>
            </button>
        </div>

        <ul>

            <div class="sidenav-container">
        
                <button class="sidenav-button dropdown-list" id="merlion"> 
                    <label for="" >Merlion</label> 
                    <i class=" caret fa fa-caret-down"></i>
                </button>
                <li class="dropdown-container">
                        <a>ArtScience Museum</a>
                        <a>Marina Bay Sands Skypark</a>
                        <a>Double Helix Bridge</a>
                </li>

            </div>

            </li>
                <li class="sidenav-container">
                    <a href="#">
                        <button class="sidenav-button" id="Garden by the Bay"> 
                            <label for="" >Garden by the Bay</label> 
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </a>
                </li>  
                <li class="sidenav-container">
                    <a href="#">
                        <button class="sidenav-button" id="Chinatown"> 
                            <label for="" >China town</label> 
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </a>
                </li>  
                <li class="sidenav-container">
                    <a href="#">
                        <button class="sidenav-button" id="Marina bay sands"> 
                            <label for="" >Marina bay sands</label> 
                        </button>
                    </a>
                </li>  
                <li class="sidenav-container">
                    <a href="#">
                        <button class="sidenav-button" id="Clarke Quay"> 
                            <label for="" >Clarke Quay</label> 
                        </button>
                    </a>
                </li>  
                <li class="sidenav-container">
                    <a href="#">
                        <button class="sidenav-button" id="Fort Canning Park"> 
                            <label for="" >Fort Canning Park</label> 
                        </button>
                    </a>
                </li>  
                <li class="sidenav-container">
                    <a href="#">
                        <button class="sidenav-button" id="Singapore flyer"> 
                            <label for="" >Singapore Flyer</label> 
                        </button>
                    </a>
                </li>  
                <li class="sidenav-container">
                    <a href="#">
                        <button class="sidenav-button" id="Orchard Road"> 
                            <label for="" >Orchard Road</label> 
                        </button>
                    </a>
                </li>  
        </ul><!-- END OF SIDENAV LIST-->
    </aside><!-- END OF SIDENAV-->
      
    <section id="main-container">
        <div id="map">
                <div id="googleMap" ></div>

        </div>
    </section>

    <aside class="sideinfo" id="Sideinfo">
        <div>
            <img src=<%= require("./assets/images/merlion.png") %>>
        </div>
        <div id="Info-judul-container">
            <p id="Info-judul"></p>
        </div>
        <div >
            <p id="Info-desc">Clik pada map</p>
        </div>
        <div >
           
            <p id="Info-address"> <i class="fas fa-map-marker"></i>Clik pada map</p>
        </div>
        <div >
            <p id="Info-web"><i class="fas fa-browser"></i>Clik pada map</p>
        </div>
    </aside>

</body>
</html>